In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [2]:
Credit_score_data = pd.read_csv('cleaned_data.csv')

In [3]:
Credit_score_data.head()

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0x1000,January,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,Bad,1562.91,26.612093,10.166667,Yes,42.94109,244.750283,Low_spent_Large_value_payments,252.924793,Standard
1,CUS_0x1000,February,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,Bad,1562.91,29.439759,10.250000,Yes,42.94109,176.132567,High_spent_Small_value_payments,311.542510,Poor
2,CUS_0x1000,March,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,Bad,1562.91,38.285928,10.333333,Yes,42.94109,109.056519,High_spent_Medium_value_payments,368.618557,Poor
3,CUS_0x1000,April,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,Bad,1562.91,32.843081,10.416667,Yes,42.94109,87.909909,High_spent_Medium_value_payments,419.765167,Poor
4,CUS_0x1000,May,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,Bad,1562.91,32.330508,10.500000,Yes,42.94109,191.834767,Low_spent_Large_value_payments,305.840309,Poor

In [5]:
Credit_score_data.shape

(100000, 25)

In [6]:
x = Credit_score_data.drop('Credit_Score',axis = 1)

In [7]:
x.head()

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,CUS_0x1000,January,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,10.0,Bad,1562.91,26.612093,10.166667,Yes,42.94109,244.750283,Low_spent_Large_value_payments,252.924793
1,CUS_0x1000,February,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,11.0,Bad,1562.91,29.439759,10.250000,Yes,42.94109,176.132567,High_spent_Small_value_payments,311.542510
2,CUS_0x1000,March,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,11.0,Bad,1562.91,38.285928,10.333333,Yes,42.94109,109.056519,High_spent_Medium_value_payments,368.618557
3,CUS_0x1000,April,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,11.0,Bad,1562.91,32.843081,10.416667,Yes,42.94109,87.909909,High_spent_Medium_value_payments,419.765167
4,CUS_0x1000,May,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,11.0,Bad,1562.91,32.330508,10.500000,Yes,42.94109,191.834767,Low_spent_Large_value_payments,305.840309

In [9]:
y = Credit_score_data['Credit_Score']

In [10]:
y

0        Standard
1            Poor
2            Poor
3            Poor
4            Poor
           ...
99995    Standard
99996    Standard
99997    Standard
99998        Good
99999        Good
Name: Credit_Score, Length: 100000, dtype: object

In [29]:
label_encoders = {}

In [30]:
for column in x.select_dtypes(include=['object']).columns:
    le = LabelEncoder()
    x[column] = le.fit_transform(x[column])
    label_encoders[column] = le  # Store label encoders in case you need them later

In [32]:
X_train, X_test, Y_train,Y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

In [33]:
X_train

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
76513,9564,2,42,12,17758.440,1403.870000,8.0,3.0,13,1.0,...,4.0,2,908.52,36.644241,22.833333,2,11.666972,117.505864,3,281.214164
60406,7550,4,32,12,39550.490,3451.874167,3.0,4.0,1,3.0,...,3.0,1,234.48,34.265111,25.666667,1,70.313040,115.837285,1,409.037091
27322,3415,6,23,4,48854.850,3957.237500,9.0,5.0,16,6.0,...,10.0,0,3013.18,28.914860,13.250000,2,208.985026,129.745913,1,306.992812
53699,6712,0,24,5,58609.640,4763.136667,1.0,2.0,3,3.0,...,3.0,1,760.97,36.886080,30.583333,1,140.976575,73.109191,1,512.227901
65412,8176,7,39,2,64427.300,5075.941667,3.0,4.0,5,2.0,...,6.0,1,1265.70,36.405969,15.916667,1,104.460342,162.299031,2,500.834794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,783,2,44,13,14638.540,1134.878333,6.0,9.0,17,8.0,...,9.0,0,3201.91,35.680312,16.750000,2,77576.000000,29.871029,3,273.610632
54886,6860,4,41,9,21088.460,1517.371667,0.0,7.0,8,2.0,...,0.0,1,810.51,31.833231,31.250000,1,33.446544,143.707333,5,264.583290
76820,9602,7,55,14,178793.920,14642.493333,1.0,1.0,11,0.0,...,7.0,1,1015.37,29.657908,21.666667,1,0.000000,1804.233521,3,489.742397
860,107,7,49,8,16523.745,1516.978750,1.0,4.0,1,4.0,...,4.0,1,455.49,37.599315,25.666667,1,52.216169,51.891720,2,307.589986
15795,1974,0,42,3,38239.440,3485.620000,0.0,3.0,2,1.0,...,0.0,1,1156.81,27.992015,22.666667,1,20.203448,122.382871,1,455.975682

In [20]:
X_test

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
75721,CUS_0x9da2,February,33,Media_Manager,14629.52,1309.126667,1.0,4.0,4,1.0,...,3.0,Good,493.52,36.103839,21.666667,No,10.159548,52.525062,High_spent_Small_value_payments,328.228057
80184,CUS_0xa5b4,January,55,Scientist,22425.52,2018.793333,3.0,5.0,12,2.0,...,1.0,Good,1048.32,27.804482,27.250000,No,19.360622,63.564150,Low_spent_Small_value_payments,368.954561
19864,CUS_0x3757,January,42,Mechanic,32176.68,2399.390000,9.0,8.0,27,4.0,...,12.0,Standard,2464.30,27.421028,7.333333,NM,59.072791,96.153635,Low_spent_Large_value_payments,354.712574
76699,CUS_0x9f4c,April,27,Teacher,14155.74,1134.645000,10.0,5.0,23,9.0,...,11.0,Bad,1971.13,38.020803,6.666667,Yes,60.470336,143.766699,Low_spent_Medium_value_payments,255.162741
92991,CUS_0xbd1f,August,34,Writer,31902.65,2690.554167,5.0,6.0,9,1.0,...,3.0,Standard,413.34,37.097860,22.500000,NM,18.288977,74.456667,High_spent_Medium_value_payments,426.309773
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42648,CUS_0x606d,January,44,Accountant,52616.28,4279.690000,7.0,10.0,27,4.0,...,8.0,Bad,2592.58,27.807858,19.333333,Yes,116.003989,138.654133,High_spent_Small_value_payments,433.310877
86306,CUS_0xb11c,March,38,Manager,15319.65,1460.637500,6.0,7.0,15,4.0,...,6.0,Bad,1453.61,37.266724,10.916667,Yes,28.182033,91.565818,Low_spent_Medium_value_payments,0.000000
45466,CUS_0x6582,March,30,Manager,75299.36,6367.946667,3.0,3.0,9,0.0,...,2.0,Good,1041.40,36.936543,30.083333,No,0.000000,234.333493,High_spent_Large_value_payments,682.461174
63724,CUS_0x8785,May,20,Doctor,175718.04,14628.170000,4.0,4.0,2,1.0,...,3.0,Good,444.46,43.467731,16.750000,NM,145.952613,355.788050,High_spent_Large_value_payments,1201.076337
34122,CUS_0x50df,March,36,Lawyer,15845.47,1039.455833,5.0,10.0,26,6.0,...,12.0,Standard,1275.75,35.803352,6.416667,Yes,73.239494,70.303422,Low_spent_Small_value_payments,250.402667

In [21]:
from sklearn.tree import DecisionTreeClassifier

In [34]:
model = DecisionTreeClassifier(random_state = 42)

In [35]:
model.fit(X_train, Y_train)

DecisionTreeClassifier(random_state=42)

In [39]:
y_pred = model.predict(X_test)

In [40]:
Y_test

75721    Standard
80184        Good
19864        Poor
76699        Poor
92991        Good
           ...
42648        Poor
86306        Poor
45466        Poor
63724    Standard
34122        Poor
Name: Credit_Score, Length: 30000, dtype: object

In [38]:
from sklearn import metrics

In [41]:
print(metrics.accuracy_score(Y_test, y_pred))

0.7134666666666667

In [43]:
Credit_score_data

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0x1000,January,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,Bad,1562.91,26.612093,10.166667,Yes,42.941090,244.750283,Low_spent_Large_value_payments,252.924793,Standard
1,CUS_0x1000,February,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,Bad,1562.91,29.439759,10.250000,Yes,42.941090,176.132567,High_spent_Small_value_payments,311.542510,Poor
2,CUS_0x1000,March,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,Bad,1562.91,38.285928,10.333333,Yes,42.941090,109.056519,High_spent_Medium_value_payments,368.618557,Poor
3,CUS_0x1000,April,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,Bad,1562.91,32.843081,10.416667,Yes,42.941090,87.909909,High_spent_Medium_value_payments,419.765167,Poor
4,CUS_0x1000,May,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,Bad,1562.91,32.330508,10.500000,Yes,42.941090,191.834767,Low_spent_Large_value_payments,305.840309,Poor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,CUS_0xffd,April,29,Scientist,41398.44,3749.870000,8.0,7.0,13,6.0,...,Standard,1701.88,36.384516,18.416667,Yes,182.976649,234.354940,Low_spent_Small_value_payments,0.000000,Standard
99996,CUS_0xffd,May,29,Scientist,41398.44,3749.870000,8.0,7.0,13,6.0,...,Standard,1701.88,26.166508,18.500000,Yes,182.976649,104.629474,High_spent_Medium_value_payments,0.000000,Standard
99997,CUS_0xffd,June,29,Scientist,41398.44,3749.870000,8.0,7.0,13,6.0,...,Standard,1701.88,36.970072,18.583333,Yes,182.976649,47.007379,High_spent_Medium_value_payments,0.000000,Standard
99998,CUS_0xffd,July,30,Scientist,41398.44,3749.870000,8.0,7.0,13,6.0,...,Standard,1701.88,33.916363,18.666667,Yes,182.976649,257.989694,High_spent_Small_value_payments,0.000000,Good
99999,CUS_0xffd,August,30,Scientist,41398.44,3749.870000,8.0,7.0,13,6.0,...,Standard,1701.88,39.916655,18.750000,Yes,182.976649,42.575720,High_spent_Large_value_payments,0.000000,Good

In [47]:
# Random Forest Model

In [48]:
from sklearn.ensemble import RandomForestClassifier

In [49]:
rf_classifier = RandomForestClassifier(random_state=42)
rf_classifier.fit(X_train, Y_train)
rf_y_pred = rf_classifier.predict(X_test)

In [50]:
print("Decision Tree Classifier Report:")
print(classification_report(Y_test, y_pred))

Decision Tree Classifier Report:
              precision    recall  f1-score   support

        Good       0.65      0.66      0.66      5300
        Poor       0.70      0.69      0.69      8812
    Standard       0.74      0.75      0.74     15888

    accuracy                           0.71     30000
   macro avg       0.70      0.70      0.70     30000
weighted avg       0.71      0.71      0.71     30000

In [52]:
print("\nRandom Forest Classifier Report:")
print(classification_report(Y_test, rf_y_pred))

Random Forest Classifier Report:
              precision    recall  f1-score   support

        Good       0.78      0.76      0.77      5300
        Poor       0.80      0.83      0.81      8812
    Standard       0.83      0.82      0.82     15888

    accuracy                           0.81     30000
   macro avg       0.80      0.80      0.80     30000
weighted avg       0.81      0.81      0.81     30000