In [1]:
# read file
import numpy as np
import pandas as pd  # for data analytics

# The two packages below are for plotting
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MultiLabelBinarizer

/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv('cleaned_data.csv')

In [3]:
df.head()

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0x1000,January,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,Bad,1562.91,26.612093,10.166667,Yes,42.94109,244.750283,Low_spent_Large_value_payments,252.924793,Standard
1,CUS_0x1000,February,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,Bad,1562.91,29.439759,10.250000,Yes,42.94109,176.132567,High_spent_Small_value_payments,311.542510,Poor
2,CUS_0x1000,March,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,Bad,1562.91,38.285928,10.333333,Yes,42.94109,109.056519,High_spent_Medium_value_payments,368.618557,Poor
3,CUS_0x1000,April,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,Bad,1562.91,32.843081,10.416667,Yes,42.94109,87.909909,High_spent_Medium_value_payments,419.765167,Poor
4,CUS_0x1000,May,17,Lawyer,30625.94,2706.161667,6.0,5.0,27,2.0,...,Bad,1562.91,32.330508,10.500000,Yes,42.94109,191.834767,Low_spent_Large_value_payments,305.840309,Poor

In [4]:
df['Monthly_Balance'].describe()

count    100000.000000
mean        395.846943
std         218.975178
min           0.000000
25%         266.732614
50%         334.065569
75%         467.378940
max        1602.040519
Name: Monthly_Balance, dtype: float64

In [5]:
# Create a summary DataFrame with data types and unique counts
summary = pd.DataFrame({
    'Type': df.dtypes,
    'Unique Values': df.nunique()
})
print(summary, len(df.columns)) # Type_of_Loan has too many values...why?

                             Type  Unique Values
Customer_ID                object          12500
Month                      object              8
Age                         int64             43
Occupation                 object             15
Annual_Income             float64          13487
Monthly_Inhand_Salary     float64          13235
Num_Bank_Accounts         float64             12
Num_Credit_Card           float64             12
Interest_Rate               int64           1750
Num_of_Loan               float64             10
Type_of_Loan               object           6260
Delay_from_due_date       float64             68
Num_of_Delayed_Payment    float64             29
Changed_Credit_Limit      float64           3716
Num_Credit_Inquiries      float64             18
Credit_Mix                 object              3
Outstanding_Debt          float64          12203
Credit_Utilization_Ratio  float64         100000
Credit_History_Age        float64            541
Payment_of_Min_Amount      object              3
Total_EMI_per_month       float64          14950
Amount_invested_monthly   float64          91048
Payment_Behaviour          object              6
Monthly_Balance           float64          97124
Credit_Score               object              3 25

In [6]:
# Remove all instances of "and " and also strip leading/trailing whitespaces properly
df['Type_of_Loan_Cleaned'] = df['Type_of_Loan'].str.replace(r'\band\b', '',
                                                            regex=True).str.replace(r'\s+', ' ', regex=True).str.strip()

# Now split the cleaned values
df['Type_of_Loan_Split'] = df['Type_of_Loan_Cleaned'].str.split(', ')
print(df['Type_of_Loan_Split'].head())

0    [Credit-Builder Loan, Home Equity Loan]
1    [Credit-Builder Loan, Home Equity Loan]
2    [Credit-Builder Loan, Home Equity Loan]
3    [Credit-Builder Loan, Home Equity Loan]
4    [Credit-Builder Loan, Home Equity Loan]
Name: Type_of_Loan_Split, dtype: object

In [7]:
mlb = MultiLabelBinarizer()

loan_one_hot = mlb.fit_transform(df['Type_of_Loan_Split'])
loan_one_hot_df = pd.DataFrame(loan_one_hot, columns=mlb.classes_)
print(loan_one_hot[:6])
print(loan_one_hot_df.head()) 
# check 'and Home Equity Loan' is count as 'Home Equity Loan'

[[0 1 0 1 0 0 0 0 0]
 [0 1 0 1 0 0 0 0 0]
 [0 1 0 1 0 0 0 0 0]
 [0 1 0 1 0 0 0 0 0]
 [0 1 0 1 0 0 0 0 0]
 [0 1 0 1 0 0 0 0 0]]
   Auto Loan  Credit-Builder Loan  Debt Consolidation Loan  Home Equity Loan  \
0          0                    1                        0                 1
1          0                    1                        0                 1
2          0                    1                        0                 1
3          0                    1                        0                 1
4          0                    1                        0                 1

   Mortgage Loan  Not Specified  Payday Loan  Personal Loan  Student Loan
0              0              0            0              0             0
1              0              0            0              0             0
2              0              0            0              0             0
3              0              0            0              0             0
4              0              0            0              0             0

In [8]:
# Concatenate the one-hot encoded DataFrame with the original DataFrame
df_new_typeOfLoan = pd.concat([df, loan_one_hot_df], axis=1)

In [9]:
# Drop the unecessary col: 'Customer_ID', 'Type_of_Loan ', 
# 'Type_of_Loan_Split','Type_of_Loan_Cleaned', 'Credit_Score'
# Drop 'Annual_Income'cuz monthly salary and annual income are highly related, so only keep one

convert_df = df_new_typeOfLoan.drop(['Customer_ID', 'Annual_Income','Type_of_Loan', 
    'Type_of_Loan_Split','Type_of_Loan_Cleaned', 'Credit_Score'], axis=1) 
print(convert_df.dtypes)

Month                        object
Age                           int64
Occupation                   object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts           float64
Num_Credit_Card             float64
Interest_Rate                 int64
Num_of_Loan                 float64
Delay_from_due_date         float64
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age          float64
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Auto Loan                     int64
Credit-Builder Loan           int64
Debt Consolidation Loan       int64
Home Equity Loan              int64
Mortgage Loan                 int64
Not Specified                 int64
Payday Loan                   int64
Personal Loan                 int64
Student Loan                  int64
dtype: object

In [10]:
convert_df.columns

Index(['Month', 'Age', 'Occupation', 'Monthly_Inhand_Salary',
       'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Auto Loan', 'Credit-Builder Loan', 'Debt Consolidation Loan',
       'Home Equity Loan', 'Mortgage Loan', 'Not Specified', 'Payday Loan',
       'Personal Loan', 'Student Loan'],
      dtype='object')

In [11]:
df_dummies = pd.get_dummies(df, columns=['Occupation','Month',
                                         'Credit_Mix','Payment_of_Min_Amount',
                                        'Payment_Behaviour'], drop_first=False)

df_dummies_final = df_dummies.drop(columns=['Customer_ID','Age',
                                    'Monthly_Inhand_Salary','Num_Bank_Accounts', 
                                    'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan',
                                    'Type_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment',
                                    'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Outstanding_Debt',
                                    'Credit_Utilization_Ratio', 'Credit_History_Age', 'Total_EMI_per_month',
                                    'Amount_invested_monthly', 'Monthly_Balance'], axis=1)

In [12]:
df_dummies_final.columns

Index(['Annual_Income', 'Credit_Score', 'Type_of_Loan_Cleaned',
       'Type_of_Loan_Split', 'Occupation_Accountant', 'Occupation_Architect',
       'Occupation_Developer', 'Occupation_Doctor', 'Occupation_Engineer',
       'Occupation_Entrepreneur', 'Occupation_Journalist', 'Occupation_Lawyer',
       'Occupation_Manager', 'Occupation_Mechanic', 'Occupation_Media_Manager',
       'Occupation_Musician', 'Occupation_Scientist', 'Occupation_Teacher',
       'Occupation_Writer', 'Month_April', 'Month_August', 'Month_February',
       'Month_January', 'Month_July', 'Month_June', 'Month_March', 'Month_May',
       'Credit_Mix_Bad', 'Credit_Mix_Good', 'Credit_Mix_Standard',
       'Payment_of_Min_Amount_NM', 'Payment_of_Min_Amount_No',
       'Payment_of_Min_Amount_Yes',
       'Payment_Behaviour_High_spent_Large_value_payments',
       'Payment_Behaviour_High_spent_Medium_value_payments',
       'Payment_Behaviour_High_spent_Small_value_payments',
       'Payment_Behaviour_Low_spent_Large_value_payments',
       'Payment_Behaviour_Low_spent_Medium_value_payments',
       'Payment_Behaviour_Low_spent_Small_value_payments'],
      dtype='object')

In [13]:
df_all_dummies = pd.concat([convert_df, df_dummies_final], axis=1)
# print(df_all_dummies.head()) # 87 columns...well, reasonable
# drop the old ones
df_final = df_all_dummies.drop(columns=['Occupation','Month',
                                         'Credit_Mix','Payment_of_Min_Amount',
                                        'Payment_Behaviour'], axis=1)
print(df_final.head()) # 82 columns...correct

   Age  Monthly_Inhand_Salary  Num_Bank_Accounts  Num_Credit_Card  \
0   17            2706.161667                6.0              5.0
1   17            2706.161667                6.0              5.0
2   17            2706.161667                6.0              5.0
3   17            2706.161667                6.0              5.0
4   17            2706.161667                6.0              5.0

   Interest_Rate  Num_of_Loan  Delay_from_due_date  Num_of_Delayed_Payment  \
0             27          2.0                 62.0                    25.0
1             27          2.0                 62.0                    23.0
2             27          2.0                 62.0                    28.0
3             27          2.0                 64.0                    25.0
4             27          2.0                 67.0                    25.0

   Changed_Credit_Limit  Num_Credit_Inquiries  ...  Credit_Mix_Standard  \
0                  1.63                  10.0  ...                False
1                  1.63                  11.0  ...                False
2                  1.63                  11.0  ...                False
3                  1.63                  11.0  ...                False
4                  2.63                  11.0  ...                False

   Payment_of_Min_Amount_NM  Payment_of_Min_Amount_No  \
0                     False                     False
1                     False                     False
2                     False                     False
3                     False                     False
4                     False                     False

   Payment_of_Min_Amount_Yes  \
0                       True
1                       True
2                       True
3                       True
4                       True

   Payment_Behaviour_High_spent_Large_value_payments  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Payment_Behaviour_High_spent_Medium_value_payments  \
0                                              False
1                                              False
2                                               True
3                                               True
4                                              False

   Payment_Behaviour_High_spent_Small_value_payments  \
0                                              False
1                                               True
2                                              False
3                                              False
4                                              False

   Payment_Behaviour_Low_spent_Large_value_payments  \
0                                              True
1                                             False
2                                             False
3                                             False
4                                              True

   Payment_Behaviour_Low_spent_Medium_value_payments  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Payment_Behaviour_Low_spent_Small_value_payments
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False

[5 rows x 64 columns]

# Scaling Numeric Data

In [14]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 64 columns):
 #   Column                                              Non-Null Count   Dtype
---  ------                                              --------------   -----
 0   Age                                                 100000 non-null  int64
 1   Monthly_Inhand_Salary                               100000 non-null  float64
 2   Num_Bank_Accounts                                   100000 non-null  float64
 3   Num_Credit_Card                                     100000 non-null  float64
 4   Interest_Rate                                       100000 non-null  int64
 5   Num_of_Loan                                         100000 non-null  float64
 6   Delay_from_due_date                                 100000 non-null  float64
 7   Num_of_Delayed_Payment                              100000 non-null  float64
 8   Changed_Credit_Limit                                100000 non-null  float64
 9   Num_Credit_Inquiries                                100000 non-null  float64
 10  Outstanding_Debt                                    100000 non-null  float64
 11  Credit_Utilization_Ratio                            100000 non-null  float64
 12  Credit_History_Age                                  100000 non-null  float64
 13  Total_EMI_per_month                                 100000 non-null  float64
 14  Amount_invested_monthly                             100000 non-null  float64
 15  Monthly_Balance                                     100000 non-null  float64
 16  Auto Loan                                           100000 non-null  int64
 17  Credit-Builder Loan                                 100000 non-null  int64
 18  Debt Consolidation Loan                             100000 non-null  int64
 19  Home Equity Loan                                    100000 non-null  int64
 20  Mortgage Loan                                       100000 non-null  int64
 21  Not Specified                                       100000 non-null  int64
 22  Payday Loan                                         100000 non-null  int64
 23  Personal Loan                                       100000 non-null  int64
 24  Student Loan                                        100000 non-null  int64
 25  Annual_Income                                       100000 non-null  float64
 26  Credit_Score                                        100000 non-null  object
 27  Type_of_Loan_Cleaned                                100000 non-null  object
 28  Type_of_Loan_Split                                  100000 non-null  object
 29  Occupation_Accountant                               100000 non-null  bool
 30  Occupation_Architect                                100000 non-null  bool
 31  Occupation_Developer                                100000 non-null  bool
 32  Occupation_Doctor                                   100000 non-null  bool
 33  Occupation_Engineer                                 100000 non-null  bool
 34  Occupation_Entrepreneur                             100000 non-null  bool
 35  Occupation_Journalist                               100000 non-null  bool
 36  Occupation_Lawyer                                   100000 non-null  bool
 37  Occupation_Manager                                  100000 non-null  bool
 38  Occupation_Mechanic                                 100000 non-null  bool
 39  Occupation_Media_Manager                            100000 non-null  bool
 40  Occupation_Musician                                 100000 non-null  bool
 41  Occupation_Scientist                                100000 non-null  bool
 42  Occupation_Teacher                                  100000 non-null  bool
 43  Occupation_Writer                                   100000 non-null  bool
 44  Month_April                                         100000 non-null  bool
 45  Month_August                                        100000 non-null  bool
 46  Month_February                                      100000 non-null  bool
 47  Month_January                                       100000 non-null  bool
 48  Month_July                                          100000 non-null  bool
 49  Month_June                                          100000 non-null  bool
 50  Month_March                                         100000 non-null  bool
 51  Month_May                                           100000 non-null  bool
 52  Credit_Mix_Bad                                      100000 non-null  bool
 53  Credit_Mix_Good                                     100000 non-null  bool
 54  Credit_Mix_Standard                                 100000 non-null  bool
 55  Payment_of_Min_Amount_NM                            100000 non-null  bool
 56  Payment_of_Min_Amount_No                            100000 non-null  bool
 57  Payment_of_Min_Amount_Yes                           100000 non-null  bool
 58  Payment_Behaviour_High_spent_Large_value_payments   100000 non-null  bool
 59  Payment_Behaviour_High_spent_Medium_value_payments  100000 non-null  bool
 60  Payment_Behaviour_High_spent_Small_value_payments   100000 non-null  bool
 61  Payment_Behaviour_Low_spent_Large_value_payments    100000 non-null  bool
 62  Payment_Behaviour_Low_spent_Medium_value_payments   100000 non-null  bool
 63  Payment_Behaviour_Low_spent_Small_value_payments    100000 non-null  bool
dtypes: bool(35), float64(15), int64(11), object(3)
memory usage: 25.5+ MB

In [15]:
df_final = df_final.drop(columns=['Type_of_Loan_Cleaned','Type_of_Loan_Split'], axis=1)

In [16]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 62 columns):
 #   Column                                              Non-Null Count   Dtype
---  ------                                              --------------   -----
 0   Age                                                 100000 non-null  int64
 1   Monthly_Inhand_Salary                               100000 non-null  float64
 2   Num_Bank_Accounts                                   100000 non-null  float64
 3   Num_Credit_Card                                     100000 non-null  float64
 4   Interest_Rate                                       100000 non-null  int64
 5   Num_of_Loan                                         100000 non-null  float64
 6   Delay_from_due_date                                 100000 non-null  float64
 7   Num_of_Delayed_Payment                              100000 non-null  float64
 8   Changed_Credit_Limit                                100000 non-null  float64
 9   Num_Credit_Inquiries                                100000 non-null  float64
 10  Outstanding_Debt                                    100000 non-null  float64
 11  Credit_Utilization_Ratio                            100000 non-null  float64
 12  Credit_History_Age                                  100000 non-null  float64
 13  Total_EMI_per_month                                 100000 non-null  float64
 14  Amount_invested_monthly                             100000 non-null  float64
 15  Monthly_Balance                                     100000 non-null  float64
 16  Auto Loan                                           100000 non-null  int64
 17  Credit-Builder Loan                                 100000 non-null  int64
 18  Debt Consolidation Loan                             100000 non-null  int64
 19  Home Equity Loan                                    100000 non-null  int64
 20  Mortgage Loan                                       100000 non-null  int64
 21  Not Specified                                       100000 non-null  int64
 22  Payday Loan                                         100000 non-null  int64
 23  Personal Loan                                       100000 non-null  int64
 24  Student Loan                                        100000 non-null  int64
 25  Annual_Income                                       100000 non-null  float64
 26  Credit_Score                                        100000 non-null  object
 27  Occupation_Accountant                               100000 non-null  bool
 28  Occupation_Architect                                100000 non-null  bool
 29  Occupation_Developer                                100000 non-null  bool
 30  Occupation_Doctor                                   100000 non-null  bool
 31  Occupation_Engineer                                 100000 non-null  bool
 32  Occupation_Entrepreneur                             100000 non-null  bool
 33  Occupation_Journalist                               100000 non-null  bool
 34  Occupation_Lawyer                                   100000 non-null  bool
 35  Occupation_Manager                                  100000 non-null  bool
 36  Occupation_Mechanic                                 100000 non-null  bool
 37  Occupation_Media_Manager                            100000 non-null  bool
 38  Occupation_Musician                                 100000 non-null  bool
 39  Occupation_Scientist                                100000 non-null  bool
 40  Occupation_Teacher                                  100000 non-null  bool
 41  Occupation_Writer                                   100000 non-null  bool
 42  Month_April                                         100000 non-null  bool
 43  Month_August                                        100000 non-null  bool
 44  Month_February                                      100000 non-null  bool
 45  Month_January                                       100000 non-null  bool
 46  Month_July                                          100000 non-null  bool
 47  Month_June                                          100000 non-null  bool
 48  Month_March                                         100000 non-null  bool
 49  Month_May                                           100000 non-null  bool
 50  Credit_Mix_Bad                                      100000 non-null  bool
 51  Credit_Mix_Good                                     100000 non-null  bool
 52  Credit_Mix_Standard                                 100000 non-null  bool
 53  Payment_of_Min_Amount_NM                            100000 non-null  bool
 54  Payment_of_Min_Amount_No                            100000 non-null  bool
 55  Payment_of_Min_Amount_Yes                           100000 non-null  bool
 56  Payment_Behaviour_High_spent_Large_value_payments   100000 non-null  bool
 57  Payment_Behaviour_High_spent_Medium_value_payments  100000 non-null  bool
 58  Payment_Behaviour_High_spent_Small_value_payments   100000 non-null  bool
 59  Payment_Behaviour_Low_spent_Large_value_payments    100000 non-null  bool
 60  Payment_Behaviour_Low_spent_Medium_value_payments   100000 non-null  bool
 61  Payment_Behaviour_Low_spent_Small_value_payments    100000 non-null  bool
dtypes: bool(35), float64(15), int64(11), object(1)
memory usage: 23.9+ MB

In [17]:
df_numeric = df_final.loc[:, df_final.columns != 'Credit_Score']
df_numeric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 61 columns):
 #   Column                                              Non-Null Count   Dtype
---  ------                                              --------------   -----
 0   Age                                                 100000 non-null  int64
 1   Monthly_Inhand_Salary                               100000 non-null  float64
 2   Num_Bank_Accounts                                   100000 non-null  float64
 3   Num_Credit_Card                                     100000 non-null  float64
 4   Interest_Rate                                       100000 non-null  int64
 5   Num_of_Loan                                         100000 non-null  float64
 6   Delay_from_due_date                                 100000 non-null  float64
 7   Num_of_Delayed_Payment                              100000 non-null  float64
 8   Changed_Credit_Limit                                100000 non-null  float64
 9   Num_Credit_Inquiries                                100000 non-null  float64
 10  Outstanding_Debt                                    100000 non-null  float64
 11  Credit_Utilization_Ratio                            100000 non-null  float64
 12  Credit_History_Age                                  100000 non-null  float64
 13  Total_EMI_per_month                                 100000 non-null  float64
 14  Amount_invested_monthly                             100000 non-null  float64
 15  Monthly_Balance                                     100000 non-null  float64
 16  Auto Loan                                           100000 non-null  int64
 17  Credit-Builder Loan                                 100000 non-null  int64
 18  Debt Consolidation Loan                             100000 non-null  int64
 19  Home Equity Loan                                    100000 non-null  int64
 20  Mortgage Loan                                       100000 non-null  int64
 21  Not Specified                                       100000 non-null  int64
 22  Payday Loan                                         100000 non-null  int64
 23  Personal Loan                                       100000 non-null  int64
 24  Student Loan                                        100000 non-null  int64
 25  Annual_Income                                       100000 non-null  float64
 26  Occupation_Accountant                               100000 non-null  bool
 27  Occupation_Architect                                100000 non-null  bool
 28  Occupation_Developer                                100000 non-null  bool
 29  Occupation_Doctor                                   100000 non-null  bool
 30  Occupation_Engineer                                 100000 non-null  bool
 31  Occupation_Entrepreneur                             100000 non-null  bool
 32  Occupation_Journalist                               100000 non-null  bool
 33  Occupation_Lawyer                                   100000 non-null  bool
 34  Occupation_Manager                                  100000 non-null  bool
 35  Occupation_Mechanic                                 100000 non-null  bool
 36  Occupation_Media_Manager                            100000 non-null  bool
 37  Occupation_Musician                                 100000 non-null  bool
 38  Occupation_Scientist                                100000 non-null  bool
 39  Occupation_Teacher                                  100000 non-null  bool
 40  Occupation_Writer                                   100000 non-null  bool
 41  Month_April                                         100000 non-null  bool
 42  Month_August                                        100000 non-null  bool
 43  Month_February                                      100000 non-null  bool
 44  Month_January                                       100000 non-null  bool
 45  Month_July                                          100000 non-null  bool
 46  Month_June                                          100000 non-null  bool
 47  Month_March                                         100000 non-null  bool
 48  Month_May                                           100000 non-null  bool
 49  Credit_Mix_Bad                                      100000 non-null  bool
 50  Credit_Mix_Good                                     100000 non-null  bool
 51  Credit_Mix_Standard                                 100000 non-null  bool
 52  Payment_of_Min_Amount_NM                            100000 non-null  bool
 53  Payment_of_Min_Amount_No                            100000 non-null  bool
 54  Payment_of_Min_Amount_Yes                           100000 non-null  bool
 55  Payment_Behaviour_High_spent_Large_value_payments   100000 non-null  bool
 56  Payment_Behaviour_High_spent_Medium_value_payments  100000 non-null  bool
 57  Payment_Behaviour_High_spent_Small_value_payments   100000 non-null  bool
 58  Payment_Behaviour_Low_spent_Large_value_payments    100000 non-null  bool
 59  Payment_Behaviour_Low_spent_Medium_value_payments   100000 non-null  bool
 60  Payment_Behaviour_Low_spent_Small_value_payments    100000 non-null  bool
dtypes: bool(35), float64(15), int64(11)
memory usage: 23.2 MB

In [18]:
df_numeric.columns

Index(['Age', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card',
       'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date',
       'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Outstanding_Debt', 'Credit_Utilization_Ratio',
       'Credit_History_Age', 'Total_EMI_per_month', 'Amount_invested_monthly',
       'Monthly_Balance', 'Auto Loan', 'Credit-Builder Loan',
       'Debt Consolidation Loan', 'Home Equity Loan', 'Mortgage Loan',
       'Not Specified', 'Payday Loan', 'Personal Loan', 'Student Loan',
       'Annual_Income', 'Occupation_Accountant', 'Occupation_Architect',
       'Occupation_Developer', 'Occupation_Doctor', 'Occupation_Engineer',
       'Occupation_Entrepreneur', 'Occupation_Journalist', 'Occupation_Lawyer',
       'Occupation_Manager', 'Occupation_Mechanic', 'Occupation_Media_Manager',
       'Occupation_Musician', 'Occupation_Scientist', 'Occupation_Teacher',
       'Occupation_Writer', 'Month_April', 'Month_August', 'Month_February',
       'Month_January', 'Month_July', 'Month_June', 'Month_March', 'Month_May',
       'Credit_Mix_Bad', 'Credit_Mix_Good', 'Credit_Mix_Standard',
       'Payment_of_Min_Amount_NM', 'Payment_of_Min_Amount_No',
       'Payment_of_Min_Amount_Yes',
       'Payment_Behaviour_High_spent_Large_value_payments',
       'Payment_Behaviour_High_spent_Medium_value_payments',
       'Payment_Behaviour_High_spent_Small_value_payments',
       'Payment_Behaviour_Low_spent_Large_value_payments',
       'Payment_Behaviour_Low_spent_Medium_value_payments',
       'Payment_Behaviour_Low_spent_Small_value_payments'],
      dtype='object')

In [19]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
 
df_numeric[df_numeric.columns] = scaler.fit_transform(df_numeric)

/var/folders/8w/f1nm4bk161nf0bdc91693vr40000gn/T/ipykernel_3460/2734800432.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_numeric[df_numeric.columns] = scaler.fit_transform(df_numeric)

In [20]:
df_numeric.head()

,Age,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,...,Credit_Mix_Standard,Payment_of_Min_Amount_NM,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes,Payment_Behaviour_High_spent_Large_value_payments,Payment_Behaviour_High_spent_Medium_value_payments,Payment_Behaviour_High_spent_Small_value_payments,Payment_Behaviour_Low_spent_Large_value_payments,Payment_Behaviour_Low_spent_Medium_value_payments,Payment_Behaviour_Low_spent_Small_value_payments
0,0.071429,0.161232,0.545455,0.454545,0.004486,0.222222,0.925373,0.892857,0.044090,0.588235,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.071429,0.161232,0.545455,0.454545,0.004486,0.222222,0.925373,0.821429,0.044090,0.647059,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.071429,0.161232,0.545455,0.454545,0.004486,0.222222,0.925373,1.000000,0.044090,0.647059,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.071429,0.161232,0.545455,0.454545,0.004486,0.222222,0.955224,0.892857,0.044090,0.647059,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.071429,0.161232,0.545455,0.454545,0.004486,0.222222,1.000000,0.892857,0.071139,0.647059,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [21]:
df_numeric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 61 columns):
 #   Column                                              Non-Null Count   Dtype
---  ------                                              --------------   -----
 0   Age                                                 100000 non-null  float64
 1   Monthly_Inhand_Salary                               100000 non-null  float64
 2   Num_Bank_Accounts                                   100000 non-null  float64
 3   Num_Credit_Card                                     100000 non-null  float64
 4   Interest_Rate                                       100000 non-null  float64
 5   Num_of_Loan                                         100000 non-null  float64
 6   Delay_from_due_date                                 100000 non-null  float64
 7   Num_of_Delayed_Payment                              100000 non-null  float64
 8   Changed_Credit_Limit                                100000 non-null  float64
 9   Num_Credit_Inquiries                                100000 non-null  float64
 10  Outstanding_Debt                                    100000 non-null  float64
 11  Credit_Utilization_Ratio                            100000 non-null  float64
 12  Credit_History_Age                                  100000 non-null  float64
 13  Total_EMI_per_month                                 100000 non-null  float64
 14  Amount_invested_monthly                             100000 non-null  float64
 15  Monthly_Balance                                     100000 non-null  float64
 16  Auto Loan                                           100000 non-null  float64
 17  Credit-Builder Loan                                 100000 non-null  float64
 18  Debt Consolidation Loan                             100000 non-null  float64
 19  Home Equity Loan                                    100000 non-null  float64
 20  Mortgage Loan                                       100000 non-null  float64
 21  Not Specified                                       100000 non-null  float64
 22  Payday Loan                                         100000 non-null  float64
 23  Personal Loan                                       100000 non-null  float64
 24  Student Loan                                        100000 non-null  float64
 25  Annual_Income                                       100000 non-null  float64
 26  Occupation_Accountant                               100000 non-null  float64
 27  Occupation_Architect                                100000 non-null  float64
 28  Occupation_Developer                                100000 non-null  float64
 29  Occupation_Doctor                                   100000 non-null  float64
 30  Occupation_Engineer                                 100000 non-null  float64
 31  Occupation_Entrepreneur                             100000 non-null  float64
 32  Occupation_Journalist                               100000 non-null  float64
 33  Occupation_Lawyer                                   100000 non-null  float64
 34  Occupation_Manager                                  100000 non-null  float64
 35  Occupation_Mechanic                                 100000 non-null  float64
 36  Occupation_Media_Manager                            100000 non-null  float64
 37  Occupation_Musician                                 100000 non-null  float64
 38  Occupation_Scientist                                100000 non-null  float64
 39  Occupation_Teacher                                  100000 non-null  float64
 40  Occupation_Writer                                   100000 non-null  float64
 41  Month_April                                         100000 non-null  float64
 42  Month_August                                        100000 non-null  float64
 43  Month_February                                      100000 non-null  float64
 44  Month_January                                       100000 non-null  float64
 45  Month_July                                          100000 non-null  float64
 46  Month_June                                          100000 non-null  float64
 47  Month_March                                         100000 non-null  float64
 48  Month_May                                           100000 non-null  float64
 49  Credit_Mix_Bad                                      100000 non-null  float64
 50  Credit_Mix_Good                                     100000 non-null  float64
 51  Credit_Mix_Standard                                 100000 non-null  float64
 52  Payment_of_Min_Amount_NM                            100000 non-null  float64
 53  Payment_of_Min_Amount_No                            100000 non-null  float64
 54  Payment_of_Min_Amount_Yes                           100000 non-null  float64
 55  Payment_Behaviour_High_spent_Large_value_payments   100000 non-null  float64
 56  Payment_Behaviour_High_spent_Medium_value_payments  100000 non-null  float64
 57  Payment_Behaviour_High_spent_Small_value_payments   100000 non-null  float64
 58  Payment_Behaviour_Low_spent_Large_value_payments    100000 non-null  float64
 59  Payment_Behaviour_Low_spent_Medium_value_payments   100000 non-null  float64
 60  Payment_Behaviour_Low_spent_Small_value_payments    100000 non-null  float64
dtypes: float64(61)
memory usage: 46.5 MB

In [22]:
data = pd.concat([df_numeric, df_final['Credit_Score']], axis=1)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 62 columns):
 #   Column                                              Non-Null Count   Dtype
---  ------                                              --------------   -----
 0   Age                                                 100000 non-null  float64
 1   Monthly_Inhand_Salary                               100000 non-null  float64
 2   Num_Bank_Accounts                                   100000 non-null  float64
 3   Num_Credit_Card                                     100000 non-null  float64
 4   Interest_Rate                                       100000 non-null  float64
 5   Num_of_Loan                                         100000 non-null  float64
 6   Delay_from_due_date                                 100000 non-null  float64
 7   Num_of_Delayed_Payment                              100000 non-null  float64
 8   Changed_Credit_Limit                                100000 non-null  float64
 9   Num_Credit_Inquiries                                100000 non-null  float64
 10  Outstanding_Debt                                    100000 non-null  float64
 11  Credit_Utilization_Ratio                            100000 non-null  float64
 12  Credit_History_Age                                  100000 non-null  float64
 13  Total_EMI_per_month                                 100000 non-null  float64
 14  Amount_invested_monthly                             100000 non-null  float64
 15  Monthly_Balance                                     100000 non-null  float64
 16  Auto Loan                                           100000 non-null  float64
 17  Credit-Builder Loan                                 100000 non-null  float64
 18  Debt Consolidation Loan                             100000 non-null  float64
 19  Home Equity Loan                                    100000 non-null  float64
 20  Mortgage Loan                                       100000 non-null  float64
 21  Not Specified                                       100000 non-null  float64
 22  Payday Loan                                         100000 non-null  float64
 23  Personal Loan                                       100000 non-null  float64
 24  Student Loan                                        100000 non-null  float64
 25  Annual_Income                                       100000 non-null  float64
 26  Occupation_Accountant                               100000 non-null  float64
 27  Occupation_Architect                                100000 non-null  float64
 28  Occupation_Developer                                100000 non-null  float64
 29  Occupation_Doctor                                   100000 non-null  float64
 30  Occupation_Engineer                                 100000 non-null  float64
 31  Occupation_Entrepreneur                             100000 non-null  float64
 32  Occupation_Journalist                               100000 non-null  float64
 33  Occupation_Lawyer                                   100000 non-null  float64
 34  Occupation_Manager                                  100000 non-null  float64
 35  Occupation_Mechanic                                 100000 non-null  float64
 36  Occupation_Media_Manager                            100000 non-null  float64
 37  Occupation_Musician                                 100000 non-null  float64
 38  Occupation_Scientist                                100000 non-null  float64
 39  Occupation_Teacher                                  100000 non-null  float64
 40  Occupation_Writer                                   100000 non-null  float64
 41  Month_April                                         100000 non-null  float64
 42  Month_August                                        100000 non-null  float64
 43  Month_February                                      100000 non-null  float64
 44  Month_January                                       100000 non-null  float64
 45  Month_July                                          100000 non-null  float64
 46  Month_June                                          100000 non-null  float64
 47  Month_March                                         100000 non-null  float64
 48  Month_May                                           100000 non-null  float64
 49  Credit_Mix_Bad                                      100000 non-null  float64
 50  Credit_Mix_Good                                     100000 non-null  float64
 51  Credit_Mix_Standard                                 100000 non-null  float64
 52  Payment_of_Min_Amount_NM                            100000 non-null  float64
 53  Payment_of_Min_Amount_No                            100000 non-null  float64
 54  Payment_of_Min_Amount_Yes                           100000 non-null  float64
 55  Payment_Behaviour_High_spent_Large_value_payments   100000 non-null  float64
 56  Payment_Behaviour_High_spent_Medium_value_payments  100000 non-null  float64
 57  Payment_Behaviour_High_spent_Small_value_payments   100000 non-null  float64
 58  Payment_Behaviour_Low_spent_Large_value_payments    100000 non-null  float64
 59  Payment_Behaviour_Low_spent_Medium_value_payments   100000 non-null  float64
 60  Payment_Behaviour_Low_spent_Small_value_payments    100000 non-null  float64
 61  Credit_Score                                        100000 non-null  object
dtypes: float64(61), object(1)
memory usage: 47.3+ MB

In [24]:
data.columns

Index(['Age', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card',
       'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date',
       'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Outstanding_Debt', 'Credit_Utilization_Ratio',
       'Credit_History_Age', 'Total_EMI_per_month', 'Amount_invested_monthly',
       'Monthly_Balance', 'Auto Loan', 'Credit-Builder Loan',
       'Debt Consolidation Loan', 'Home Equity Loan', 'Mortgage Loan',
       'Not Specified', 'Payday Loan', 'Personal Loan', 'Student Loan',
       'Annual_Income', 'Occupation_Accountant', 'Occupation_Architect',
       'Occupation_Developer', 'Occupation_Doctor', 'Occupation_Engineer',
       'Occupation_Entrepreneur', 'Occupation_Journalist', 'Occupation_Lawyer',
       'Occupation_Manager', 'Occupation_Mechanic', 'Occupation_Media_Manager',
       'Occupation_Musician', 'Occupation_Scientist', 'Occupation_Teacher',
       'Occupation_Writer', 'Month_April', 'Month_August', 'Month_February',
       'Month_January', 'Month_July', 'Month_June', 'Month_March', 'Month_May',
       'Credit_Mix_Bad', 'Credit_Mix_Good', 'Credit_Mix_Standard',
       'Payment_of_Min_Amount_NM', 'Payment_of_Min_Amount_No',
       'Payment_of_Min_Amount_Yes',
       'Payment_Behaviour_High_spent_Large_value_payments',
       'Payment_Behaviour_High_spent_Medium_value_payments',
       'Payment_Behaviour_High_spent_Small_value_payments',
       'Payment_Behaviour_Low_spent_Large_value_payments',
       'Payment_Behaviour_Low_spent_Medium_value_payments',
       'Payment_Behaviour_Low_spent_Small_value_payments', 'Credit_Score'],
      dtype='object')

# Linear SVM Model

In [26]:
var = ['Age', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card',
       'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date',
       'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Outstanding_Debt', 'Credit_Utilization_Ratio',
       'Credit_History_Age', 'Total_EMI_per_month', 'Amount_invested_monthly',
       'Monthly_Balance', 'Auto Loan', 'Credit-Builder Loan',
       'Debt Consolidation Loan', 'Home Equity Loan', 'Mortgage Loan',
       'Not Specified', 'Payday Loan', 'Personal Loan', 'Student Loan',
       'Annual_Income', 'Occupation_Accountant', 'Occupation_Architect',
       'Occupation_Developer', 'Occupation_Doctor', 'Occupation_Engineer',
       'Occupation_Entrepreneur', 'Occupation_Journalist', 'Occupation_Lawyer',
       'Occupation_Manager', 'Occupation_Mechanic', 'Occupation_Media_Manager',
       'Occupation_Musician', 'Occupation_Scientist', 'Occupation_Teacher',
       'Occupation_Writer', 'Month_April', 'Month_August', 'Month_February',
       'Month_January', 'Month_July', 'Month_June', 'Month_March', 'Month_May',
       'Credit_Mix_Bad', 'Credit_Mix_Good', 'Credit_Mix_Standard',
       'Payment_of_Min_Amount_NM', 'Payment_of_Min_Amount_No',
       'Payment_of_Min_Amount_Yes',
       'Payment_Behaviour_High_spent_Large_value_payments',
       'Payment_Behaviour_High_spent_Medium_value_payments',
       'Payment_Behaviour_High_spent_Small_value_payments',
       'Payment_Behaviour_Low_spent_Large_value_payments',
       'Payment_Behaviour_Low_spent_Medium_value_payments',
       'Payment_Behaviour_Low_spent_Small_value_payments']

credit_X = data[var]
credit_y = data['Credit_Score']
print(credit_X.shape)
print(credit_y.shape)

(100000, 61)
(100000,)

In [27]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(credit_X, credit_y, random_state = 42)

In [28]:
# Linear SVC 
from sklearn.svm import LinearSVC
from sklearn.model_selection import GridSearchCV

linear_svc = LinearSVC(random_state = 22) # must specify random state here

# Define a list of hyperparameters
params_svc = {'C':  [0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000, 100000]}

grid_linear_svc = GridSearchCV(linear_svc, params_svc, cv = 5, n_jobs=2)
grid_linear_svc.fit(X_train, y_train)

/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/mrudula/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

GridSearchCV(cv=5, estimator=LinearSVC(random_state=22), n_jobs=2,
             param_grid={'C': [0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000,
                               10000, 100000]})

In [29]:
print(grid_linear_svc.best_params_)
print(grid_linear_svc.best_score_)
print(grid_linear_svc.score(X_test, y_test))
print(grid_linear_svc.score(X_train, y_train))

{'C': 1}
0.6478533333333334
0.64796
0.6483066666666667